@import "tailwindcss";

@theme {
    --color-text-primary: #2C2C2C;
    --color-text-secondary: #6D6D6D;
    --color-background-primary: #F5F2ED;
    --color-background-secondary: #FFFFFF;
    --color-title: #C9A66B;
    --color-button: #748C58;
    --color-button-hover: #5A6772;
}