---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section class="flex-1 size-full flex flex-col items-center md:py-16 py-10 px-5 md:px-20">
        <div class="flex flex-col gap-4 items-center max-w-[1200px]">
            <h2 class="md:text-3xl text-2xl font-semibold text-title">Nuestra Historia</h2>

            <div class="flex flex-col gap-10">
                <span class="flex flex-row gap-8 items-center">
                    <div class="flex flex-col gap-4">
                        <p class="font-light text-text-primary text-balance text-lg">Nacido en Málaga en 1985, Bruma Restaurante surgió del deseo de crear un espacio donde la gastronomía fuera más que una experiencia culinaria: un lugar donde el tiempo se detiene y los sentidos se despiertan. En sus inicios, Bruma fue un pequeño restaurante familiar junto al mar, conocido por su cocina honesta, inspirada en los productos del Mediterráneo y en la pasión por el detalle. Aquellas primeras mesas, llenas de conversación y aroma a mar, sentaron las bases de lo que hoy seguimos siendo: un homenaje al sabor, la hospitalidad y la elegancia.</p>
                    </div>
                    <img class="max-w-2/5 object-cover rounded-xl shadow" src="/past-door.webp" alt="">
                </span>
                <span class="flex flex-row gap-8 items-center">
                    <img class="max-w-2/5 object-cover rounded-xl shadow" src="/today-door.webp" alt="">
                    <div class="flex flex-col gap-4">
                        <p class="font-light text-text-primary text-balance text-lg">Con el paso de los años, Bruma evolucionó sin perder su esencia. Nuestra filosofía siempre ha sido clara: combinar tradición y modernidad con respeto y creatividad. En la década de los 90, incorporamos nuevas técnicas culinarias y comenzamos a colaborar con productores locales, apostando por ingredientes de temporada y sostenibles mucho antes de que fuera tendencia.</p>
                        <p class="font-light text-text-primary text-balance text-lg">En la década de los 2000, nuestra cocina dio un salto hacia la gastronomía contemporánea, explorando nuevas texturas, influencias internacionales y maridajes cuidadosamente diseñados.</p>
                    </div>
                </span>
                <span class="flex flex-row gap-8 items-center">
                    <div class="flex flex-col gap-4">
                        <p class="font-light text-text-primary text-balance text-lg">Hoy, Bruma representa la madurez de aquella visión inicial. En un espacio moderno, elegante y sereno, cada plato es una historia y cada experiencia, un encuentro con la esencia de Málaga y su entorno. Nuestra carta, en constante evolución, combina lo mejor del producto local con técnicas actuales, siempre bajo una mirada artística y respetuosa con el origen de cada sabor.</p>
                        <p class="font-light text-text-primary text-balance text-lg">El equipo de Bruma, formado por chefs, sumilleres y profesionales apasionados, trabaja con un propósito común: crear emociones a través de la gastronomía. Cada detalle, desde la vajilla artesanal hasta la selección musical del ambiente, está pensado para acompañar una experiencia sensorial completa.</p>
                    </div>
                    <img class="max-w-2/5 object-cover rounded-xl shadow" src="/chefs.webp" alt="">
                </span>
            </div>
        </div>
    </section>
</Layout>