---
import Layout from '../layouts/Layout.astro';
import MenuCard from '../components/MenuCard.astro';
---

<Layout>
    <section class="flex-1 size-full flex flex-col items-center md:py-16 py-10 px-5 md:px-20">
        <div class="flex flex-col gap-4 items-center max-w-[720px]">
            <h2 class="md:text-3xl text-2xl font-semibold text-title">La Elección del Sabor</h2>
            <p class="md:text-lg text-text-secondary text-balance text-center">Desde la delicadeza de nuestros platos hasta la elegancia de nuestros vinos, cada opción está pensada para quienes disfrutan del arte de la buena mesa</p>
            <span class="flex md:flex-row flex-col gap-4 mt-4">
                <MenuCard imgSrc="/food-menu.webp" iconSrc="/src/assets/FoodIcon.svg" title="Carta de Comidas" description="Creatividad, sabor y elegancia en cada plato" href="/menu/food" />
                <MenuCard imgSrc="/drink-menu.webp" iconSrc="/src/assets/DrinkIcon.svg" title="Carta de Bebidas" description="Experiencias que despiertan el paladar" href="/menu/drink" />
            </span>
        </div>
    </section>
</Layout>