<section class="size-full px-5 md:px-20 py-5 md:py-10 flex justify-center items-center bg-background-secondary">
    <span class="size-full max-w-[1200px] flex flex-col md:flex-row items-center md:gap-20 gap-10">
        <div class="flex flex-col gap-4 flex-1">
            <h2 class="md:text-3xl text-2xl font-semibold text-title">Nuestra Historia</h2>
            <div class="flex flex-col text-balance gap-2">
                <p class="text-lg text-text-secondary">Nacido en pleno centro de Málaga, Bruma surge del deseo de transformar la gastronomía en un viaje sensorial. Desde nuestros inicios, buscamos que cada plato no solo alimente, sino que cuente una historia, despierte emociones y evoque recuerdos.</p>
                <p class="text-lg text-text-secondary">Nuestro equipo de cocina combina técnicas contemporáneas con el respeto por el producto local, reinterpretando los sabores del Mediterráneo bajo una mirada moderna y elegante. En cada creación hay un guiño a la tierra, al mar y a la bruma que envuelve las mañanas malagueñas.</p>
            </div>
        </div>
        <div class="grid grid-cols-3 grid-rows-2 gap-2 w-full flex-1 rounded-2xl overflow-hidden">
            <img src="/dish.webp" class="row-span-2 col-span-2" alt="Dish" />
            <img src="/chef.webp" alt="Chef" />
            <img src="/outside.webp" alt="Outside" />
        </div>
    </span>
</section> 
    