<footer class="size-full px-20 py-10 flex flex-row justify-between items-center gap-10 bg-background-secondary">
    <nav class="flex flex-row gap-6">
        <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Politica de privacidad</a>
        <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Terminos y condiciones</a>
        <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Contacto</a>
    </nav>
    <p>&copy; {new Date().getFullYear()} Agomzlodev. Todos los derechos reservados.</p>
</footer>