<footer class="size-full px-5 md:px-20 py-5 md:py-10 flex flex-col md:flex-row justify-between items-center gap-6 md:gap-10 bg-background-secondary">
    <nav class="flex flex-col md:flex-row gap-3 md:gap-6">
        <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/legal/privacity">Politica de privacidad</a>
        <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/legal/terms">Terminos y condiciones</a>
    </nav>
    <p class="text-text-secondary text-center md:text-left">&copy; {new Date().getFullYear()} Agomzlodev. Todos los derechos reservados.</p>
</footer>