---
import Spanish from "../icons/languages/Spanish.astro";
---

<header class="bg-background-secondary flex flex-row justify-between items-center px-5 md:px-20 py-4">
    <a href="/"><img src="/bruma.svg" alt="Bruma" class="h-8 md:h-16 w-auto" /></a>
    <span class="flex flex-row items-center gap-6">
        <nav class="hidden md:flex flex-row gap-6">
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/">Inicio</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/menu">Menu</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/reservess">Reservas</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/events">Eventos</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="/about-us">Sobre Nosotros</a>
        </nav>
        <Spanish class="size-8" />
    </span>
</header>