<header class="bg-background-secondary flex flex-row justify-between items-center px-20 py-4">
    <img src="/bruma.svg" alt="Bruma" class="h-16 w-auto" />
    <nav class="flex flex-row gap-6">
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Inicio</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Menu</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Reservas</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Eventos</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Sobre Nosotros</a>
            <a class="text-button font-semibold hover:text-button-hover transition-colors duration-200" href="#">Contacto</a>
    </nav>
</header>