<section class="w-full h-[720px] relative">
    <img src="/hero.webp" alt="Hero" class="absolute w-full h-full object-cover brightness-50" />
    <div class="absolute inset-0 flex flex-col justify-center items-center gap-4 md:gap-8 px-5 md:px-20">
        <h1 class="md:text-6xl text-3xl font-semibold text-white">Bienvenido a Bruma</h1>
        <p class="md:text-lg text-white/80 text-center font-light font-montserrat uppercase">Donde cada plato revela una historia y cada sabor deja huella</p>
        <div class="flex flex-row gap-2">
            <a href="/menu" class="bg-button hover:bg-button-hover transition-colors cursor-pointer duration-200 text-white font-semibold py-2 px-4 rounded">Ver el menú</a>
            <a href="/reserves" class="bg-button hover:bg-button-hover transition-colors cursor-pointer duration-200 text-white font-semibold py-2 px-4 rounded">Reservar una mesa</a>
        </div>
    </div>
</section>