---
import '../styles/global.css';

import '@fontsource-variable/playfair-display';
import '@fontsource/lato';
import '@fontsource-variable/montserrat';
import Header from '../sections/Header.astro';
import Footer from '../sections/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/bruma-icon.svg" />
		<meta name="description" content="Donde cada plato revela una historia y cada sabor deja huella" />
		<title>Bruma</title>
	</head>
	<body class="font-montserrat">
		<div class="w-full min-h-screen bg-background-primary">
			<Header />
			<slot />
			<Footer />
		</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
